img{
    width:100%;
    border-radius: 3%;
}

h1{
    padding: 0;
    margin: 0;
}

.header-collection{
    align-self: flex-start;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.container{
    background-color: var(--color-white);
    width: 90%;
    border-radius: 10px;
    padding: 40px;
    margin-top: 10px !important;
}

.list-cards{
    width: 100%;
    display: grid;
    grid-template-columns: 18% 18% 18% 18% 18%;
    column-gap: 2.5%;
    row-gap: 0%;
    padding: 0;
    margin: 0;
}

@media (width <= 1100px) {
    .list-cards{
        grid-template-columns: 30% 30% 30%;
        column-gap: 5%;
    }
}

@media (width <= 600px) {
    .list-cards{ 
        column-gap: 6%;
        grid-template-columns: 47% 47%;
    }
    .container {
        padding: 20px;
        padding-bottom: 100px;
    }
}

.card{
    display: flex;
    flex-direction: column;
}

.amount{
    position: relative;
    top: 20px;
    left: 10px;
    align-self: flex-end;

    padding: 6px;
    margin: 0;
    width: fit-content;
    border-radius: 50px;

    font-family: var(--font-family);
    font-weight: bold;
    background-color: var(--color-pink);
    color: var(--color-white);
}

.filter{
    text-decoration: none;
    background-color: var(--color-purple);
    padding: 12px 20px;
    border-radius: 10px;
    color: var(--color-white);
}