.text__menu-desktop {
display: none;
}

header {
  width: 100%;
  margin: 0 auto;
}

header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed; /* ✅ fixé à l'écran */
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
  background-color: var(--color-blue);
  border: 1px solid white;
  border-radius: 20px;
  padding: 15px 35px;
  z-index: 1000; /* ✅ pour qu'il passe devant le contenu */
  border: 2px solid var(--color-white);
}


header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  list-style: none;
  padding-inline-start: 0;
margin : 0;
}
header nav ul li a{
    display: flex;
    align-items: center;
}

@media screen and (min-width: 768px) {
  .text__menu-desktop {
    display: block;
  }

  header {
    width: 100%;
    margin: 0;
  }
  header nav {
    position: relative;
    width: fit-content;
    margin-top : 70px;
    background-color: white;
    border: none;
  }

  header nav ul li a{
    display: flex;
    gap : 10px;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color : var(--color-purple);

    p {
      font-weight: bold;
    }
  }
}


